<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{title}}</title>
</head>

<body>
  {{> header}}
  <div class="profile-info main-content">
    <img src="https://avatars.githubusercontent.com/u/91867702?v=4" class="avatar" alt={{name}}>
    <p>
      Hi, My name is <b>Muhammad Irtiza</b>. I build things for the web. I am a self-taught app developer, with a strong
      eye for innovative design and a keen understanding of techniques geared towards optimum user experience.
    </p>
  </div>
  {{>footer}}
</body>

</html>